---
version: "{{ compose_schema_version | default('3') }}"
services:
{% for container in containers %}
  {{ container.service_name }}:
    container_name: {{ container.container_name | default(container.service_name) }}
{# build-section #}
{% if container.build is defined %}
    build:
      context: {{ container.build.context }}
      dockerfile: {{ container.build.dockerfile }}
{% endif %}
{# image-section #}
{% if container.image is defined %}
    image: {{ container.image }}
{% endif %}
{# restart-section #}
{% if container.restart is defined %}
    restart: {{ container.restart }}
{% endif %}
{# volumes-section #}
{% if container.volumes is defined %}
    volumes:
{% for volume in container.volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
{# environment-section #}
{% if container.environment is defined %}
    environment:
{% for env_var in container.environment %}
      - {{ env_var }}
{% endfor %}
{% endif %}
{# labels-section #}
{% if container.labels is defined %}
    labels:
{% for label in container.labels %}
      - {{ label }}
{% endfor %}
{% endif %}
{# env_file-section #}
{% if container.env_file is defined %}
    env_file:
{% for file in container.env_file %}
      - {{ file }}
{% endfor %}
{% endif %}
{# ports-section #}
{% if container.ports is defined %}
    ports:
{% for port in container.ports %}
      - {{ port }}
{% endfor %}
{% endif %}
{# networks-section #}
{% if container.networks is defined %}
    networks:
{% for network in container.networks %}
      - {{ network }}
{% endfor %}
{% endif %}
{# depends_on-section #}
{% if container.depends_on is defined %}
    depends_on:
{% for dependent in container.depends_on %}
      - {{ dependent }}
{% endfor %}
{% endif %}
{% endfor %}

{% if volumes is defined %}
volumes:
{% for volume in volumes %}
{% if volume.name is defined %}
  {{ volume.name }}:
{% endif %}
{% if volume.driver is defined %}
    {{ volume.driver }}:
{% endif %}
{% endfor %}
{% endif %}

{% if networks is defined %}
networks:
{% for network in networks %}
{% if  network.name is defined %}
  {{ network.name }}:
{% endif %}
{% if network.driver is defined %}
    driver: {{ network.driver }}
{% endif %}
{% endfor %}
{% endif %}